#body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Inter';
}

.button {
    background-color: #658864;
    border-radius: 40px;
    color: white;
    font-size: 25px;
    border: none;
    box-shadow: 0px 4px 7px rgba(0,0,0,0.4);
    justify-content: center;  
    align-items: center;  
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
}

#shareTrip {
    width: 454px;
    height: 74px;
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: 30%;
    
    display: flex;
    flex-direction: row;
    
}

.header2{
    color: #658864;
}

.tripImage {
    
    width: 245px;
    height: 245px;
    
      
    /*width: 90%;
    height: 90%;*/
    border-radius: 10px;   
}

.trips {
    margin: 0 5px 30px 5px;
}

/*.flex_images {
}*/

.front_grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reiseNavn{
    text-align: left;
    margin-top: -10px;
    color: #658864;
    margin-left: 4%;
    font-size: 20px;
}

#tripRating {
    text-align: left;
    margin-top: -15px;
}

@media only screen and (max-width: 1000px) {
    
}