/* General css for the whole page*/

/*
html {
    width: 100%;
    background-color: #f9f9f9;
}
*/

body.dark {
    background-color: #333333;
    color: #f9f9f9;
}


/*Dark green buttons*/
.button {
    background-color: #658864;
    border-radius: 40px; 
    color: white;
    font-size: 25px;
    font-family: "Inter";
    padding: 2px 4px;
    border: none;
    box-shadow: 0px 4px 7px rgba(0,0,0,0.4); 
    text-align: center;
   
}

body.dark .button {
    color: #333333;
}

body.dark input {
    background-color: #333333;
    color: #f9f9f9;
}

body.dark textarea {
    background-color: #333333;
    color: #f9f9f9;
}



.button:hover {
    background-color: #3F543E;
}

/*Light green buttons*/ 

.lightbutton {
    background-color: #C5DFC4;
    color: #658864;
    border-radius: 10px;
    font-size: 17px;
    font-family: "Inter";
    padding: 2px 4px;
    
}

.lightbutton:hover {
    background-color: #3F543E;
}

body.dark .lightbutton {
    background-color: #3F543E;
}

body.dark .lightbutton:hover {
    background-color: #f9f9f9;
}


body.dark #header {
    background-color: #3F543E;
}


#toggleButton {
    border: none;
    background-color: #C5DFC4;

}

body.dark #toggleButton {
    background-color: #3F543E;
}

#toggleIcon {
    width: 35px;
    height: 35px;
}
