/* General css for the whole page*/

/*
html {
    width: 100%;
    background-color: #f9f9f9;
}
*/

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body.dark {
  background-color: #333333;
  color: #f9f9f9;
}

/*Dark green buttons*/
.button {
  background-color: #658864;
  border-radius: 40px;
  color: white;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 2px 4px;
  border: none;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.4);
  text-align: center;
}

body.dark .button {
  color: #333333;
}

body.dark input {
  background-color: #333333;
  color: #f9f9f9;
}

body.dark textarea {
  background-color: #333333;
  color: #f9f9f9;
}

body.dark h3 {
    color: #f9f9f9;
}



.button:hover {
  background-color: #3f543e;
}

/*Light green buttons*/

.lightbutton {
  background-color: #c5dfc4;
  color: #658864;
  border-radius: 10px;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 2px 4px;
}

.lightbutton:hover {
  background-color: #3f543e;
}

body.dark .lightbutton {
  background-color: #3f543e;
}

body.dark .lightbutton:hover {
  background-color: #f9f9f9;
}

body.dark #header {
  background-color: #3f543e;
}

#toggleButton {
  border: none;
  background-color: #c5dfc4;
  position: absolute;
  right: 10%;
  top: 15px;
}

body.dark #toggleButton {
  background-color: #3f543e;
}

#toggleIcon {
  width: 25px;
  height: 25px;
}

h2 {
  color: #658864;
  font-size: 27px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
