.Porfileinfocontainer {
    position: relative;
    width: 1440px;
    height: 2330px;
    background: #F9F9F9;
}

.profile-page {
    position: absolute;
    height: 83px;
    left: 414px;
    right: 414px;
    top: 0px;
    color: #658864;
}

.username{
    position: absolute;
    left: 550px;
    top: 100px;
}

.your-trips{
    position: absolute;
    top: 500px;
}