.profile-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 10%;
}

.profile-page {
  position: relative;
  right: 10%;
  left: 10%;
  justify-content: center;
  width: 1440px;
  height: 1146px;
}

.username {
  position: relative;
  left: 60.01%;
  right: 42.08%;
  top: 20.52%;
  bottom: 60.74%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #658864;
}

.your-trips {
  position: absolute;
  width: 155px;
  height: 45px;
  top: 650px;
  color: #658864;
}

.profile-pic {
  position: relative;
  width: 329px;
  height: 329px;
  top: 5%;
  border-radius: 50%;
  background: url("../img/user.png"), #d9d9d9;
}

.user-trips {
  position: absolute;
  height: 245px;
  top: 650px;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.front_grid_userpage {
  width: 150%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*

.Trip-container{
    position: absolute;
    width: 245px;
    height: 245px;
    left: 447px;
    top: 837px;
}


    position: absolute;
    width: 1138px;
    height: 164px;
    left: 150px;
    top: 0px;
 */

.notLoggedIn {
  text-align: center;
  color: black;
  text-decoration: double;
  font-size: 25px;
  margin-left: 30%;
}
